#app {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

h3 {
  font-size: 1.2rem;
}

.navbar {
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 3px;
}

.color {
  width: 1em;
  border-radius: 100%;
}

button.color {
  height: 35px;
  padding: 0 1em;
}

button {
  margin: .25em;
}

.container-flex {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container-block {
  display: block;
  width: 100%;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid black;
  width: 300px;
  height: 300px;
}